{% extends "base.html" %}

{% block title %}About this site{% endblock %}

{% block content %}

<div id="spc-about-site">
<p>SciPy Central is a collection of <span style="font-family:'Inconsolata';">code snippets</span>, modules and links for <i>solving scientific problems</i> with <a href="http://scipy.org">SciPy</a> and related Python tools.

<p>Back in <a href="http://groups.google.com/group/scipy-user/browse_thread/thread/0bfda80a8e3f1d91/ade06b3d17308708?#ade06b3d17308708">October 2010</a> and again in <a href="http://groups.google.com/group/scipy-user/browse_thread/thread/236628f9fce103eb/e7c3580814bbd38d">April 2011</a> there were discussions on the SciPy mailing list about creating a File Central website. This site came about from all the interesting ideas discussed in those threads.

<p>You can download the <a href="https://github.com/kgdunn/SciPyCentral/">code that runs this site</a> from GitHub. The code is BSD licensed and relies on a few other projects, which are mostly BSD licensed as well. Eventually we will have all the contributions to this site available for download in a convenient ZIP file.

<p>If you'd like to <b>suggest improvements</b> to the site (anything!) please <a href="https://github.com/kgdunn/SciPyCentral/issues/new">create a new issue</a> on the GitHub site. We'll do our best to fix any bugs right away, or to consider adding any new features. If you prefer to contact us by email, please write us at <a href="mailto:admin@scipy-central.org">admin@scipy-central.org</a>.
</div>
{% endblock %}



