{% extends "base.html" %}

{% block title %}About SciPy Central{% endblock %}

{% block content %}

<div class="row-fluid">
<div class="span12">
    <h2 class="underline">About</h2>
    <p>SciPy Central is a collection of code snippets, modules, links related to scipy stack. It aims to be a central place for <a href="http://scipy.org/about.html" target="_blank">SciPy stack</a> users for everything to do with it.</p>

    <h3>Can I use your content?</h3>
    <p>The content in this website & including the application is open source licensed. Please refer to our <a href="{% url spc-about-licenses %}" target="_blank"> license</a> for more details</p>

    <h3>How can I contribute to the project?</h3>
    <p>We're glad that you asked. You can contribute to SciPy Central in several ways.
        <ul>
            <li>You can share your amazing SciPy/NumPy related content on our application</li>
            <li>Report application bugs in <a href="https://github.com/scipy/SciPyCentral/issues" target="_blank">issue tracker</a></li>
            <li>Submit code enhancements, documentation to our application's <a href="https://github.com/scipy/SciPyCentral" target="_blank">software</a></li>
            <li>If you are not sure where to start, email to our mailing list scipy-dev@scipy.org</li>
        </ul>
    </p>

    <h3>Why we made this project?</h3>
    <p>Back in <a href="http://groups.google.com/group/scipy-user/browse_thread/thread/0bfda80a8e3f1d91/ade06b3d17308708?#ade06b3d17308708">October 2010</a> and again in <a href="http://groups.google.com/group/scipy-user/browse_thread/thread/236628f9fce103eb/e7c3580814bbd38d">April 2011</a> there were discussions on the SciPy mailing list about creating a File Central website. This site came about from all the interesting ideas discussed in those threads.</p>

</div>
</div>
{% endblock %}
