{% extends "base.html" %}

{% block title %}Licenses{% endblock %}

{% block content %}

<div id="spc-about-site">
    <h2>Licences</h2>



    The following text is from the Django Snippets site: NEED TO STILL ASK
    PERMISSION TO USE IT AND MODIFY IT.

    Licensing is an issue that must be dealt with on a website that is about
    sharing source code.

    <p>
    You must create an account to upload code to this website. Unvalidated accounts
    are removed after 7 days, together with any submissions made from that account.

    <p>
    When you created your account you agreed to:

    <ol>
    <li>That you will only post code which you wrote yourself and that you have
        the legal right to release under these terms.

    <li>That you grant any third party who sees the code you post a royalty-free,
        non-exclusive license to copy and distribute that code and to make and
        distribute derivative works based on that code.

    <li>That if you post code of which you are not the author or for which you do
        not have the legal right to distribute according to these terms, you will
        indemnify and hold harmless the operators of this site and any third
        parties who are exposed to liability as a result of your actions.

    <li>Accept that other users can, and likely will, change any code snippets
        submitted to this site to make any improvements. You will still be
        credited as the initial submittor.
    </ol>

    If you can't legally agree to these terms, or don't want to, please do not
    create an account here, or remove your account.

    <p>
    Uploading code packages requires you to either accept the Creative Commons Zero
    license, or the simplified (2-clause) BSD license. Those are the only choices.

    <p>
    If you prefer another license, please host the code on another website (e.g.
    GitHub, BitBucket, Google Code), and feel free to <a href="
    {% url spc-new-submission %}">create a link submission</a>, rather than
    a code submission.

    <h2>Creative Commons Zero license</h2>

    * Government workers
    * All code snippets use this license, which allows other site users to add to
      and modify your code.

    <h2>Simplified BSD license</h2>
</div>
{% endblock %}

