{% extends "base.html" %}

{% block title %}SciPy Central{% endblock %}

{% block content %}

<div id="front-page-top">

  <div id="spc-site-statement">
    A collection of <span style="font-family:'Inconsolata';">code snippets</span>,
    modules and links for <i>solving scientific problems</i>
    with <a href="http://scipy.org">SciPy</a> and related Python tools.
  </div>

  {% include "search/includes/main-search-box.html" %}

  <div class="spc-button-container">
    <form method="post" action="{% url spc-new-submission %}" class="spc-new-submission-formlist">
    {% csrf_token %}
      <ul id="spc-buttonlist">
        <li>
          <input type="image" title alt="Submit a code snippet"  border="0"
          src="{{MEDIA_URL}}transparent-pixel.gif" class="spc-button"
          name="snippet"
          style="background: url('{{MEDIA_URL}}single-file-icon-shrunk.png') no-repeat #DDD;
            background-size: 183px 40px; width: 183px; height: 40px;">
        </li>
        <li>
          <input type="image" title alt="Submit a collection of files"  border="0"
          src="{{MEDIA_URL}}transparent-pixel.gif" class="spc-button"
          name="package"
          style="background: url('{{MEDIA_URL}}multiple-file-icon-shrunk.png') no-repeat #DDD;
            background-size: 183px 40px; width: 183px; height: 40px;">
        </form>
        </li>
        <li>
          <input type="image" title alt="Submit a link to an external scientific resource"  border="0"
          src="{{MEDIA_URL}}transparent-pixel.gif" class="spc-button"
          name="link"
          style="background: url('{{MEDIA_URL}}external-link-icon-shrunk.png') no-repeat #DDD;
            background-size: 183px 40px; width: 183px; height: 40px;">
        </li>
      </ul>
    </form>
  </div>

  {% load core_tags %}
  <div class="spc-portal-container">
	<div class="spc-portal-row-container">
		<div class="spc-portal-row">
			<div class="spc-portal-left">
				<h3>Recently added/updated</h3>
				<ul>
				{% for item in "submission.revision"|latest:5 %}
				  <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
				{% endfor %}
				</ul>
			</div>
			<div class="spc-portal-right">
				<h3>Most viewed</h3>
				<ul>
				  {% for item in "submission.revision"|latest:2 %}
					<li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
				  {% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div style="clear: both;"></div>
	<div class="spc-portal spc-portal-left" id="portal-bottom-left">
        <h3>Tag cloud</h3>
        {{tag_cloud_html}}
      </div>

      <div class="spc-portal spc-portal-right" id="portal-bottom-right">
        <h3>Top contributors</h3>
        <ul>
          {% for item in "submission.revision"|latest:4 %}
            <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
          {% endfor %}
          </ul>
      </div>
  </div>

    <!---->
    <!--<div class="spc-portal-row">-->


    </div>
  </div>

{% endblock %}
