{% extends "base.html" %}

{% block title %}Not implemented yet{% endblock %}

{% block content %}

<div style="float: left; height:128px;">
    <img src="{{MEDIA_URL}}important-icon.png" width="128" alt="Not implemented yet"
    style="vertical-align: middle;">
</div>
<div id="spc-cookie-message">
<p>Sorry, but this function is not implemented yet on our site.

<p>Please bump this on <a href="https://github.com/kgdunn/SciPyCentral/issues/{% if issue_number %}{{issue_number}}{%endif%}">the
issue tracker</a> so we can prioritize its implementation.
</div>


{% endblock %}
