{% extends "base.html" %}

{% block title %}Please enable cookies{% endblock %}

{% block content %}
<div class="row-fluid">
<div class="span6">
    <img src="{{MEDIA_URL}}important-icon.png" width="256" alt="Cookies are required">
</div>
<div class="span6">
<p>Sorry, you will need to enable cookies if you'd like to contribute to SciPy Central (e.g. sign in, add code, tags, comments).

<p>Cookies <b>are not required</b> if you only want to browse our website.

<hr>
<p>If you are convinced you have cookies enabled, please clear out your browser cache and reload this site.
</div>
</div>

{% endblock %}

