/* Styling for the source code listings: (mostly from pygments)*/

div#spc-section-body pre{
    overflow: auto;
    padding: 5px;
    background-color: #ffffff;
    color: #333333;
    line-height: 120%;
    border: 1px solid #ac9;
    border-left: none;
    border-right: none;
}
/* Styling for pre elements: from http://perishablepress.com/press/2009/11/09/perfect-pre-tags/ */
/* no vertical scrollbars for IE 6 */
* html pre {
	padding-bottom:25px;
	overflow-y:hidden;
	overflow:visible;
	overflow-x:auto
}
/* no vertical scrollbars for IE 7 */
*:first-child+html pre {
	padding-bottom:25px;
	overflow-y:hidden;
	overflow:visible;
	overflow-x:auto
}

div#spc-section-body td.linenos pre {
    padding: 5px 0px;
    border: 0;
    background-color: transparent;
    color: #aaa;
}

.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */


/*div#spc-section-body .highlight .hll { background-color: #ffffcc }*/
/*div#spc-section-body .highlight .c { color: #008800; font-style: italic } /* Comment */*/
/*div#spc-section-body .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */*/
/*div#spc-section-body .highlight .k { color: #000080; font-weight: bold } /* Keyword */*/
/*div#spc-section-body .highlight .cm { color: #008800; font-style: italic } /* Comment.Multiline */*/
/*div#spc-section-body .highlight .cp { color: #008080 } /* Comment.Preproc */*/
/*div#spc-section-body .highlight .c1 { color: #008800; font-style: italic } /* Comment.Single */*/
/*div#spc-section-body .highlight .cs { color: #008800; font-weight: bold } /* Comment.Special */*/
/*div#spc-section-body .highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */*/
/*div#spc-section-body .highlight .ge { font-style: italic } /* Generic.Emph */*/
/*div#spc-section-body .highlight .gr { color: #aa0000 } /* Generic.Error */*/
/*div#spc-section-body .highlight .gh { color: #999999 } /* Generic.Heading */*/
/*div#spc-section-body .highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */*/
/*div#spc-section-body .highlight .go { color: #888888 } /* Generic.Output */*/
/*div#spc-section-body .highlight .gp { color: #555555 } /* Generic.Prompt */*/
/*div#spc-section-body .highlight .gs { font-weight: bold } /* Generic.Strong */*/
/*div#spc-section-body .highlight .gu { color: #aaaaaa } /* Generic.Subheading */*/
/*div#spc-section-body .highlight .gt { color: #aa0000 } /* Generic.Traceback */*/
/*div#spc-section-body .highlight .kc { color: #000080; font-weight: bold } /* Keyword.Constant */*/
/*div#spc-section-body .highlight .kd { color: #000080; font-weight: bold } /* Keyword.Declaration */*/
/*div#spc-section-body .highlight .kn { color: #000080; font-weight: bold } /* Keyword.Namespace */*/
/*div#spc-section-body .highlight .kp { color: #000080; font-weight: bold } /* Keyword.Pseudo */*/
/*div#spc-section-body .highlight .kr { color: #000080; font-weight: bold } /* Keyword.Reserved */*/
/*div#spc-section-body .highlight .kt { color: #000080; font-weight: bold } /* Keyword.Type */*/
/*div#spc-section-body .highlight .m { color: #0000FF } /* Literal.Number */*/
/*div#spc-section-body .highlight .s { color: #0000FF } /* Literal.String */*/
/*div#spc-section-body .highlight .na { color: #FF0000 } /* Name.Attribute */*/
/*div#spc-section-body .highlight .nt { color: #000080; font-weight: bold } /* Name.Tag */*/
/*div#spc-section-body .highlight .ow { font-weight: bold } /* Operator.Word */*/
/*div#spc-section-body .highlight .w { color: #bbbbbb } /* Text.Whitespace */*/
/*div#spc-section-body .highlight .mf { color: #0000FF } /* Literal.Number.Float */*/
/*div#spc-section-body .highlight .mh { color: #0000FF } /* Literal.Number.Hex */*/
/*div#spc-section-body .highlight .mi { color: #0000FF } /* Literal.Number.Integer */*/
/*div#spc-section-body .highlight .mo { color: #0000FF } /* Literal.Number.Oct */*/
/*div#spc-section-body .highlight .sb { color: #0000FF } /* Literal.String.Backtick */*/
/*div#spc-section-body .highlight .sc { color: #800080 } /* Literal.String.Char */*/
/*div#spc-section-body .highlight .sd { color: #0000FF } /* Literal.String.Doc */*/
/*div#spc-section-body .highlight .s2 { color: #0000FF } /* Literal.String.Double */*/
/*div#spc-section-body .highlight .se { color: #0000FF } /* Literal.String.Escape */*/
/*div#spc-section-body .highlight .sh { color: #0000FF } /* Literal.String.Heredoc */*/
/*div#spc-section-body .highlight .si { color: #0000FF } /* Literal.String.Interpol */*/
/*div#spc-section-body .highlight .sx { color: #0000FF } /* Literal.String.Other */*/
/*div#spc-section-body .highlight .sr { color: #0000FF } /* Literal.String.Regex */*/
/*div#spc-section-body .highlight .s1 { color: #0000FF } /* Literal.String.Single */*/
/*div#spc-section-body .highlight .ss { color: #0000FF } /* Literal.String.Symbol */*/
/*div#spc-section-body .highlight .il { color: #0000FF } /* Literal.Number.Integer.Long */*/
