{% extends "base.html" %}

{% block title %}User {{theuser.username}} - SciPy Central{% endblock %}

{% block extra_head %}
  {{ block.super }}
  <meta name="robots" content="noindex" />
{% endblock %}

{% block content %}
<div class="row-fluid">
<div class="span12">
	<h3 class="underline" style="line-height: 30px;"><b>{{theuser.username}}</b></h3>
	
	<div class="media">
		<a class="pull-left" href="#">
			<img class="media-object" data-src="holder.js/16x16" src="{{theuser.profile.get_gravatar_image}}?r=g&s=150">
		</a>
		<div class="media-body">
			<table class="table no-margin-table">
				<tr>
					<td class="muted">Profile</td>
					<td>About</td>
					<td>
						{% if theuser.profile.bio_html %}{{theuser.profile.bio_html|safe}}
						{% else %}Not provided yet{% endif %}
					</td>
				</tr>
				<tr>
					<td></td>
					<td>Affiliation</td>
					<td>
						{% if theuser.profile.affiliation %}
						{{theuser.profile.affiliation}}
						{% else %}Not provided yet{% endif %}
					</td>
				</tr>
				<tr>
					<td></td>
					<td>Country</td>
					<td>
						{% if theuser.profile.country %}<img src="{{STATIC_URL}}flags/flag-{{theuser.profile.country.code|lower}}.png" style="width: 20px;" alt="{{theuser.profile.country.name}}"> {{theuser.profile.country.name}}
						{% else %}Not provided yet
						{% endif %}
					</td>
				</tr>
				<tr>
					<td></td>
					<td>Website</td>
					<td>
						{% if theuser.profile.uri %}
						<a href="{{theuser.profile.uri}}" rel="nofollow">{{theuser.profile.uri}}</a>
						{% else %}Not provided yet{% endif %}
					</td>
				</tr>
				<tr>
					<td></td>
					<td>Interests</td>
					<td>
					{% if theuser.profile.interests.all %}
					<ul class="inline tags">
					{% for tag in theuser.profile.interests.all %}
						<li class="btn btn-mini">
							<a href="{% url spc-show-items what_view="tag" extra_info=tag %}">{{tag.name}}</a>
						</li>
					{% endfor %}
					</ul>
					{% else %}Not provided yet{% endif %}
					</td>
				</tr>
				<tr>
					<td class="muted">Meta</td>
					<td>Permalink</td>
					<td><a href="{{permalink}}">{{permalink}}</a></td>
				</tr>
				<tr>
					<td></td>
					<td>User Id</td>
					<td>{% if theuser.id %}{{ theuser.id }}{% endif %}</td>
				</tr>
				{% if user.username %}
				{% if user.profile.slug == theuser.profile.slug %}
				<tr>
					<td></td>
					<td>Settings</td>
					<td>
						<ul class="unstyled">
							<li><a href="{% url auth_password_change %}">Change password</a></li>
							<li><a href="{% url spc-user-profile-edit user.profile.slug %}">Edit profile</a></li>
						</ul>
					</td>
				</tr>
				{% endif %}
				{% endif %}
			</table>
		</div>
	</div>

		
	<!--content nav tabs-->
	<ul class="nav nav-tabs no-lead">
		<li class="active"><a href="#recent" data-toggle="tab">Submissions</a></li>
	</ul><!--/content nav tabs-->
	<!-- CONTENT-->
	<div class="tab-content">
		<!--tab-pane active-->
		<div class="tab-pane active" id="recent">
		{% if entries %}
			{% include 'submission/entries_list.html' %}
		{% endif %}
		</div><!--/tab-pane active-->
	</div><!--/CONTENT-->
	{{extra_html|safe}}

</div>
</div><!--/row-fluid-->
{% endblock %}
