{% extends "base.html" %}

{% block title %}User profile: {{theuser.username}}{% endblock %}

{% block content %}

  <div id="spc-itemdisp-container">
    <div class="spc-item-row">
      <span class="spc-item-label spc-title-in-span">{{theuser.username}}</span>
      {% if user.username %}{% if user.profile.slug == theuser.profile.slug %}<span class="spc-item-entry"><form action="{% url auth_logout %}" method="POST">{% csrf_token %}<input class="spc-form-button" type="submit" name="submit" value="Sign out"/></form></span>{% endif %}{% endif %}
    </div>
    <div class="spc-item-row">
      <div id="spc-profile-user-options">
      {% if user.username %}
        {% if user.profile.slug == theuser.profile.slug %}
        <ul>
          <li><a href="{% url spc-user-profile-edit user.profile.slug %}">Edit your profile</a></li>
          <li><a href="{% url auth_password_change %}">Change your password</a></li>
        </ul>
        {% endif %}
      {% endif %}
      </div>
    </div>
    <div class="spc-item-row">
      <span class="spc-item-label">Profile:</span>
      <span class="spc-item-entry">{% if theuser.profile.bio %}<span class="spc-item-entry">{{theuser.profile.bio}}</span>{% else %}Not provided yet{% endif %}</span>
    </div>
    <div class="spc-item-row">
      <span class="spc-item-label">Affiliation:</span>
      <span class="spc-item-entry">{% if theuser.profile.affiliation %}<span class="spc-item-entry">{{theuser.profile.affiliation}}</span>{% else %}Not provided yet{% endif %}</span>
    </div>
    <div class="spc-item-row">
      <span class="spc-item-label">Country:</span>
      <span class="spc-item-entry">{% if theuser.profile.country %}<span class="spc-item-entry">{{theuser.profile.country}}</span>{% else %}Not provided yet{% endif %}</span>
    </div>
    <div class="spc-item-row">
      <span class="spc-item-label">Web site:</span>
      {% if theuser.profile.uri %}<span class="spc-item-entry"><a href="{{theuser.profile.uri}}" rel="nofollow">{{theuser.profile.uri}}</a></span>{% else %}Not provided yet{% endif %}
    </div>
    <div style="clear:both;">&nbsp;</div>
  </div>

  <h3>Items created/edited by{% if user.profile.slug == theuser.profile.slug %} you</h3><span style="font-size:80%;">Note: only entries approved by you are shown</span>{% else %}: {{theuser.username}}</h3>{% endif %}
  {% include 'submission/entries_list.html' %}

  <div id="spc-extra-message">{{extra_html|safe}}</div>
{% endblock %}
