{% extends "base.html" %}

{% block title %}Sign in page{% endblock %}

{% block body %}

<div id="spc-existing-user">
  <form action="{% url scipy_central.person.views.login_page %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
  {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
  {% endif %}
    <input type="submit" name="submit" value="Login" />
  </form>
</div>

<div id="spc-new-user">
<p>We know that creating yet another user acount is annoying. Here's an
alternative. You might <a href="http://openid.net/get-an-openid/">already have
an OpenID</a> account. What are <a href="http://openid.net/get-an-openid/individuals/">the benefits of OpenID?</a>

<script type="text/javascript">
$(document).ready(function() {

  <!--http://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ref-contrib-csrf-->
  $('html').ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
        // Only send the token to relative URLs i.e. locally.
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
  });

  <!--var clear_messages = function(item){-->
    <!--var errors = jQuery("#"+item).find('.error').css('display', 'none');};-->

  <!--var user_check_results = function(obj){-->
    <!--for(var item in obj){-->
      <!--var entry = jQuery("#"+item)-->
      <!--for(var subitem in obj[item]){-->
        <!--entry.find('.'+subitem).show()}-->
    <!--}-->
  <!--};-->

  <!-- Validate entry that just lost focus. Could use the ``focusout`` method-->
  <!--$(".data-entry").blur(function(){-->
    <!--var item = this.name;-->
    <!--var jqxhr2 = $.ajax({-->
            <!--url: "{% url spc-new-valid %}",-->
            <!--data: 'which=' + item + '&value=' + this.value,-->
            <!--type: "POST",-->
            <!--context: document.body,-->
            <!--success: function(){-->
              <!--clear_messages(item);-->
              <!--var obj = jQuery.parseJSON(jqxhr2.responseText);-->
              <!--user_check_results(obj);-->
            <!--},-->
            <!--error: function(){-->
              <!--alert("An error occurred. Please report this to " +-->
              <!--"admin@scipy-central.org with code SCE102");-->
            <!--},-->
    <!--});-->
  <!--});-->

  $("form#spc-new-account").submit(function() {
    var jqxhr1 = $.ajax({
            url: "{% url spc-new-valid %}",
            data: 'which=all&' +
                  'new_username='  + $("[name=new_username]").val() +
                  '&new_email='    + $("[name=new_email]").val() +
                  '&new_password=' + $("[name=new_password]").val() +
                  '&new_openid='   + $("[name=new_openid]").val(),
            type: "POST",
            context: document.body,
            success: function(){
              <!-- Clear all previous messages.-->
              <!--var obj = {"new_username":0,"new_email":0,"new_password":0,"new_openid":0};-->
              <!--jQuery.each(obj, clear_messages);-->
              <!--var obj = jQuery.parseJSON(jqxhr1.responseText);-->
              <!--user_check_results(obj);-->
            }
    });
    <!-- Prevent the form from actually being submitted -->
    return false;
  })

  <!--$("#spc-new-account").validate({-->
    <!--onkeyup: true,-->
    <!--rules: {-->
      <!--'new_email': {required: true, email: true},-->
      <!--'new_openid': {required: true, email: true},-->
      <!--},-->
    <!--}-->
  <!--);-->

  <!-- Focus on the "username" input box
  $("#id_username").focus();

});
</script>

<form id="spc-new-account" method="POST" class="spc-ul-form">{% csrf_token %}

 <div class="prompt" >
    <div class="holding " id="new_openid">
      <div class="sidetip">
        <p class="ok isaok">OK!</p>
        <p class="tip">Using an OpenID means you don't need a password!</p>
        <p class="invalid error" role="alert">Not a valid email.</p>
      </div>
      <span class="holder">OpenID</span>
      <input type="text" autocomplete="off" value="" name="new_openid" maxlength="255" class="data-entry"/>
    </div>
  </div>

  <div class="prompt">
    <div class="holding " id="new_email">
      <div class="sidetip">
        <p class="tip">We need an email address to validate that you exist</p>
        <p class="ok isok">We will be sending you a confirmation.</p>
        <p class="invalid error" role="alert">Not a valid email.</p>
        <p class="blank error">An email is required!</p>
        <p class="taken error">This email is already registered.
        Want to <a href="/login">login</a> or <a href="/account/resend_password">
        recover your password</a>?</p>
      </div>
      <span class="holder">Email</span>
      <input type="email" autocomplete="off" value="" name="new_email" class="data-entry"/>
    </div>
  </div>

  <div class="prompt">
    <div class="holding " id="new_password">
      <div class="sidetip">
        <p class="tip">Any password you prefer</p>
        <p class="ok isok">Thanks.</p>
        <p class="blank error" role="alert">Password must not be blank</p>
      </div>
      <span class="holder">Password</span>
      <input type="password" value="" name="new_password" class="data-entry"/>
    </div>
  </div>

  <div class="prompt">
    <div class="holding " id="new_username">
      <div class="sidetip">
        <p class="ok isok">OK!</p>
        <p class="tip">Other users will see your comments and code with this name</p>
        <p class="checking">Validating...</p>
        <p class="taken error" role="alert">This username is already registered</p>
        <p class="invalidchar error" role="alert">Invalid: alphanumerics only. Can include spaces and underscores.</p>
        <p class="toolong error" role="alert">Must be 30 characters or shorter</p>
        <p class="blank error" role="alert">The username is empty; a user name is required.</p>
      </div>
      <span class="holder">User name (e.g. <tt>Mike Smith</tt>)</span>
      <input type="text" autocomplete="off" value="" name="new_username" maxlength="30" class="data-entry"/>
    </div>
  </div>

  <div class="spc-button">
    <input type="submit" value="Create an account for me" id="spc-user-submit" />
  </div>


</div>
{% endblock %}
