{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}

<div class="spc-centering-div-container">
  <div id="spc-existing-user">
    <form action="{% url scipy_central.person.views.login_page %}" method="POST">
      {% csrf_token %}
      {% for field in form%}
	  <label for="{{field.id_for_label}}"><span class="spc-form-label">{{field.label|safe}}</span>{{field.as_widget|safe}}</label>
	  {% endfor %}
    {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
      <input type="submit" name="submit" value="Sign in" />
    </form>
  </div>
  <div style="clear:both;">&nbsp;</div>
  <div>
  <ul>
	<li><a href="{% url spc-create-account %}">Create an account</a></li>
	<li><a href="{% url spc-reset-by-email %}">Forgot username or password?</a></li>
  </div>
</div>
{% endblock %}
