recursive-include scipy_central *.py *.json *.txt *.html
include deploy
include requirements.txt
recursive-include deploy/templates *.html *.txt
recursive-include deploy/media *.html *.css *.png *.jpg *.gif *.less *.js
prune deploy/media/code
prune deploy/media/compile
include deploy/media/code/note.txt
