<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} | SciPy Central{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/spc-bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/spc-extend.css?{{VERSION}}">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/pygments.css?{{VERSION}}">
	<link rel="stylesheet" type="text/css" href="{{JQUERYUI_CSS}}">
	<script type="text/javascript" src="{{JQUERY_URL}}"></script>
	<script type="text/javascript" src="{{JQUERYUI_URL}}"></script>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/2.0-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	
	{# handling pygment code overflow correctly #}
	{% if item.entry.sub_type == "snippet" %}
	<style type="text/css">
		pre {
			white-space: pre;
			background-color: white;
			border: none;
		}
		.accordion-inner { overflow: auto; }
	</style>
	{% endif %}

	{# csrf token #}
	<script type="text/javascript">
	// https://docs.djangoproject.com/en/1.5/ref/contrib/csrf/ 
	(function($) {
		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');

		function csrfSafeMethod(method) {
		    // these HTTP methods do not require CSRF protection
		    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		function sameOrigin(url) {
		    // test that a given url is a same-origin URL
		    // url could be relative or scheme relative or absolute
		    var host = document.location.host; // host + port
		    var protocol = document.location.protocol;
		    var sr_origin = '//' + host;
		    var origin = protocol + sr_origin;
		    // Allow absolute or scheme relative URLs to same origin
		    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		        // or any other URL that isn't scheme relative or absolute i.e relative.
		        !(/^(\/\/|http:|https:).*/.test(url));
		}
		$.ajaxSetup({
		    beforeSend: function(xhr, settings) {
		        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
		            // Send the token to same-origin, relative URLs only.
		            // Send the token only if the method warrants CSRF protection
		            // Using the CSRFToken value acquired earlier
		            xhr.setRequestHeader("X-CSRFToken", csrftoken);
		        }
		    }
		});
	})(window.jQuery);
	</script>
	
	{{ANALYTICS_SNIPPET|safe}}
</head>

<body onload='try{document.spc_search_form.q.focus()}catch(e){};'>
<style>
  .ui-autocomplete-loading {
	background: white url('{{STATIC_URL}}ui-anim_basic_16x16.gif') right center no-repeat;
  }
</style>
{% include "base-includes/header.html" %}

{% block body %}
<div class="container">
	<div class="main">
		{% block content %}{% endblock %}
	</div>
	<!--/main-->
</div>
{% endblock %}

{# not yet implemented #}
{% include "base-includes/footer-outside.html" %}

<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/spc-extend.js"></script>

<script type="text/javascript">
	$('.dropdown-toggle').dropdown()
</script>

<script>
$(document).ready(function()
{
  //Handles menu drop down
  $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
        });
  });
</script>

<script type="text/javascript">
	//handles accordion arrow-up and down in pages
	$('.accordion-group').collapse();
	$('.accordion-group').on('show hide', function(e)
		{ 
			$(e.target).siblings('.accordion-heading').find('.accordion-toggle i').toggleClass('icon-minus icon-plus', 200); 
		});
</script>

</body>
</html>