{% load comments %}
{% load SpcComments %}

<div class="media" id="c{{comment.id}}">
    <a class="pull-left" href="{{comment.user.profile.get_absolute_url}}">
        <img class="media-object" src="{{comment.user.profile.get_gravatar_image}}?r=g&s=60">
    </a>
    <div class="media-body comment-text{{comment.id}}">
        <div class="html-text">{{comment.rest_comment|safe}}</div>
        <div class="rest-text hide">{{comment.comment|safe}}</div>
    </div>

    <ul class="inline pull-right muted">
    {% if request.user.is_authenticated %}
        {% if comment|is_flagged:request %}
        <li><span class="label label-info"><small>flagged</small></span></li>
        {% else %}
        <li><a class="spc-comment-flag" data-id="{{comment.id}}" data-toggle="modal" href="#spc-comment-flag-modal" role="button"><small>flag</small></a></li>
        {% endif %}

        {% ifequal request.user comment.user %}
        <li><a class="spc-comment-delete" data-id="{{comment.id}}" data-toggle="modal" href="#spc-comment-delete-modal" role="button"><small>delete</small></a></li>
        <li><a class="spc-comment-edit" data-id="{{comment.id}}" data-toggle="modal" href="#spc-comment-edit-modal" role="button"><small>edit</small></a></li>
        {% endifequal %}
    {% endif %}
        <li><small><a href="{% get_comment_permalink comment %}">permalink</a></small></li>
        <li><small>by <a href="{{comment.user.profile.get_absolute_url}}">{{comment.user.username}}</a> on {{comment.submit_date}}</small></li>
    </ul>

    <div class="pull-right">
    	{# edit responses #}
        <span class="hide label label-info" data-action="edit" data-resp="success"><small>edited</small></span>
        <span class="hide label label-important" data-action="edit" data-resp="error" ><small>Comment not edited</small></span>
        <span class="hide label label-important" data-action="edit" data-resp="server-error"><small>Server error, please try later</small></span>

        {# delete responses #}
        <span class="hide label label-important" data-action="delete" data-resp="error" ><small>Comment not deleted</small></span>
        <span class="hide label label-important" data-action="delete" data-resp="server-error"><small>Comment not deleted</small></span>
        
        {# flag responses #}
        <span class="hide label label-info" data-action="flag" data-resp="success"><small>flagged</small></span>
        <span class="hide label label-important" data-action="flag" data-resp="error"><small>Not flagged</small></span>
        <span class="hide label label-important" data-action="flag" data-resp="server-error"><small>Server error, please try later</small></span>
    </div>
</div>
