Hello Moderator,

{{flag_author}} has flagged a comment in our site. The below are the details of it.
Kindly find yourself some time and take a look into the comment for necessary moderation.

Details
-------
Flagged author: {{flag_author}}
Flag date: {{flag_date}}
Flag pk: {{flag_pk}}

Comment author: {{comment_author}}
Comment URL: {{comment_url}}
Comment Pk: {{comment_pk}}
Comment published date: {{comment_submit_date}}
Previously flagged: {{prev_flagged}}
Comment message: {{comment_msg}}


--
Thank you,
The SciPy Central team.
{{team_email}}

You are receiving the email because we have recognized you as a moderator of
scipy-central.org - Please ignore this email and contact the SciPy Team immediately if you are not a moderator.
