{% load comments %}

{% if not request.user.is_authenticated %}
<blockquote>
	<p>Please <a href="{% url auth_login %}">Sign in</a> or <a href="{% url registration_register %}">Register</a> to leave a comment</p>
</blockquote>
{% endif %}
<div class="media-list">
{% get_comment_list for item as comment_list %}
{% for comment in comment_list %}
{% if comment.is_public %}
    {% include "comments/comment.html" %}
{% endif %}
{% endfor %}
</div>

{% if request.user.is_authenticated %}
    {% render_comment_form for item %}
{% endif %}
