<!-- footer outside the .main class-->
<div class="container">
	<footer class="footer">
		<div class="row-fluid">
			<ul class="inline pull-left">
				<li><a href="{% url spc-main-page %}">Home</a></li>
				<li><a href="{% url spc-about-page %}">About</a></li>
				<li><a href="/licenses">Licenses</a></li>
				<li><a href="/markup-help">Markup</a></li>
				<li><a href="{% url spc-rss-feed-page %}">Feeds</a></li>
			</ul>
			
			<ul class="inline pull-right">
				<li><a href="#">Back to top</a></li>
			</ul>
		</div>
		<div class="row-fluid">
		Trademarks are property of their respective owners. Code and comments are owned by their respective posters. CopyRights 2013 All Rights Reserved
		</div>
	</footer>
</div>