<!-- footer outside the .main class-->
<div class="container">
	<footer class="footer">
		<ul class="inline pull-left">
			<li><a href="{% url 'spc-main-page' %}">Home</a></li>
			<li><a href="{% url 'spc-about-page' %}">About</a></li>
			<li><a href="/licenses">Licenses</a></li>
			<li><a href="/markup-help">Markup</a></li>
			<li><a href="{% url 'spc-rss-recent-submissions' %}">Feeds</a></li>
		</ul>
		
		<ul class="inline pull-right">
			<li><a href="#">Back to top</a></li>
		</ul>
	</footer>
</div>