{% load core_tags %}
<!--RightSideBar-->
<div class="spc-rightsidebar span3">
	<div class="navigation">
		{% include "search/includes/main-search-box.html" %}
	</div>
	
	{# Only items with an ID are editable (prevents link showing when previewing a new item #}
	{% if not preview and item.entry %}
		<div class="navigation">
			<ul class="unstyled">
				{# Links and packages can only be edited by their original author; snippets can be edited by anyone #}
				{% if item.entry.sub_type != 'snippet' %}
					 {# If the signed-in user is the same as the creator of the current revision: show edit link#}
					 {% if user.id == item.created_by.id %}
					 	<li class="nav-title underline-bold">Contribute</li>
						<li>This is your submission <a href="{% url spc-edit-submission item_id=item.entry.id rev_id=item.rev_id_human %}">want to improve it</a>?</li>
					{% endif %}
				{% else %}
					<li class="nav-title underline-bold">Contribute</li>
					<li><a href="{% url spc-edit-submission item_id=item.entry.id rev_id=item.rev_id_human %}">Improve this {{item.entry.sub_type}}</a></li>
				{% endif %}
			</ul>
		</div>
	{% endif %}

	{% if item.entry.sub_type == "snippet" %}
	<div class="navigation">
		<ul class="unstyled">
			<li class="nav-title underline-bold">Software License</li>
			<li><span>{{item.sub_license.description|safe}} (<a href="{% url spc-about-licenses%}">More details</a>)</span></li>
		</ul>
	</div>
	{% endif %}
	
	{% if permalink %}
	<div class="navigation">
		<ul class="unstyled">
			<li class="nav-title underline-bold">Page Information</li>
			<li>{% if pageviews %} Page views: {{pageviews}} (past {{pageview_days}} days) {% endif %}</li>
			<li>{% if item.id %}Identifier: #{{item.entry.id}}{% endif %}</li>
			<li>permalink (this revision): <a href="{{permalink}}">{{permalink}}</a></li>
			<li>permalink (latest revision): <a href="{{latest_link}}">{{latest_link}}</a></li>
		</ul>
	</div>
	{% endif %}
	
	<div class="navigation">
		<ul class="unstyled">
			<li class="nav-title underline-bold">Quick Links</li>
			<li><a href="http://scipy.org/Mailing_Lists" target="_blank">Mailing lists</a></li>
			<li><a href="http://scipy.org/Developer_Zone" target="_blank">Developer Zone</a></li>
			<li><a href="http://docs.scipy.org/" target="_blank">SciPy Documentation</a></li>
			<li><a href="http://Numpy.org" target="_blank">Numpy Website</a></li>
		</ul>
	</div>

	<div class="navigation">
		<ul class="unstyled">
			<li class="nav-title underline-bold">Top Tags</li>
			{% for item in "submission.TagCreation"|top_tags:15 %}
			<li><a class="btn btn-mini" href="{% url spc-show-items what_view="tag" extra_info=item.tag %}">{{item.tag.name}}</a> X {{item.score}}</li>
			{% endfor %}
		</ul>
	</div>


	<div class="navigation">
		<ul class="unstyled">
			<li class="nav-title underline-bold">Top Contributors</li>
			{% for item in "authors"|top_authors:8 %}
			<li><a href="{{ item.get_absolute_url }}">{{ item.user.username }}</a></li>
			{% endfor %}
			<li><a href="{% url spc-show-items what_view="show" extra_info="top-contributors" %}">Show All</a></li>
		</ul>
	</div>

	<div class="navigation">
		<ul class="unstyled">
			<li><a href="{% url spc-rss-recent-submissions %}"><img src="{{STATIC_URL}}img/feed-icon-14x14.png"> most recent submissions feed</a></li>
			{% if not preview and item.entry %}
			<li><a href="{% url spc-rss-submission-feed item_id=item.entry.pk %}"><img src="{{STATIC_URL}}img/feed-icon-14x14.png"> This Submission Feed</a></li>
			{% endif %}
			{% if what_view == "tag" %}
			<li><a href="{% url spc-rss-tag-feed extra_info %}"><img src="{{STATIC_URL}}img/feed-icon-14x14.png"> Recent <b>{{extra_info}}</b> submissions feed</a></li>
			{% endif %}
		</ul>
	</div>

	<div class="navigation">
		<ul class="unstyled">
			<li class="nav-title underline-bold muted"><small>Copyrights</small></li>
			<li class="muted"><small>Trademarks are property of their respective owners. Code and comments are owned by their respective posters. © 2013 All Rights Reserved</small></li>
		</ul>
	</div>


</div><!--/rightsidebar span3-->