<div id="spc-itemdisp-pageheader">{{page_title}}</div>
{% if entries.object_list%}

<div style="clear:both;"></div>
<div class="spc-itemdisp-container">

  <div class="spc-itemdisp-pagination">
	<span class="step-links">
	  {% if entries.has_previous %}
		<a href="?page={{ entries.previous_page_number }}">&laquo; Previous</a> |
	  {% endif %}
	  <span class="current">
		Page {{ entries.number }} of {{ entries.paginator.num_pages }}
	  </span>
	  {% if entries.has_next %}
	   | <a href="?page={{ entries.next_page_number }}">Next &raquo;</a>
	  {% endif %}
	</span>
  </div>

  <div class="spc-itemdisp-row-container">
	<div class="spc-itemdisp-row spc-itemdisp-header">
		<div class="spc-itemdisp-description spc-itemdisp-td">Description<span class="spc-itemdisp-link "></span></div>
		<div class="spc-itemdisp-created spc-itemdisp-td">Created by</div>
		<div class="spc-itemdisp-tags spc-itemdisp-td">Tags</div>
	</div>
  </div>

<ul>
  {% for entry in entries.object_list %}
  <div class="spc-itemdisp-row-container">
	<div class="spc-itemdisp-row spc-itemdisp-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
	  <li>
		<div class="spc-itemdisp-description spc-itemdisp-td" id="spc-item-{{entry.pk}}">
		  {{ entry.last_revision.description_html|truncatewords_html:"30"|safe|removetags:"p li ul ol"}}
		  <span class="spc-itemdisp-link "><a href="{% url spc-view-link entry.pk %}">More detail</a></span>
		</div>
		<div class="spc-itemdisp-created spc-itemdisp-td"><a href="{% url spc-user-profile slug=entry.last_revision.created_by.profile.slug %}">{{entry.last_revision.created_by.username}}</a> on {{ entry.last_revision.date_created|date:"d F Y"}}</div>
		<div class="spc-itemdisp-tags spc-itemdisp-td">{% for tag in entry.last_revision.tags.all %}<span><a href="{% url spc-show-items-by-tag tag%}" class="spc-tag">{{tag.name}}</a></span>{% endfor %}</div>
	  </li>
	</div>
  </div>
  {% endfor %}
</ul>
<div style="clear:both;"></div>
</div>
{% else %}
  <p>{% if no_entries_message %}{{no_entries_message}}{% else %}There are no items matching your criteria.{% endif %}
{% endif %}