{% extends "base.html" %}

{% block title %}
{{item.title}}
{% endblock %}

{% block content %}

  <h1>{{item.title}}</h1>

  <dl>

  <dt>Original author: </dt>
  <dd><a href="{% url scipy_central.person.views.profile_page item.author.username_slug %}">{{item.author.username}}</a></dd>

  <dt>Revisions for this {{submission.sub_type}}:</dt>
  <dd>{{submission.num_revisions}}</dd>

  <dt>Created:</dt>
  <dd>{{item.date_created|date}}</dd>

  {% ifnotequal submission.num_revisions 1 %}
  <dt>Last modified:</dt>
  <dd>{{item.date_created|date}}</dd>
  {% endifnotequal %}

  <dt>Code</dt>
  <dd>STILL TO COME</dd>

  <p>Links to add: update this {{submission.sub_type}}
  <p>Links to add: add tags

{% endblock %}
