{% extends "page-base.html" %}
{% load humanize %}

{% block title %}{{item.title}}{% endblock %}

{% block pageContent %}
<div class="row-fluid">
	<div class="spc-snippet span12">
		<div class="row-fluid">
		
			<div class="spc-snippet-header span12">
				<div class="row-fluid">
					<div class="spc-page-title span12">
						<h3>{{item.title}}</h3>
					</div><!--/snippe title-->
  {% if not preview %}
	<span class="">{% if item.previous_submission %}<a href="{{item.previous_submission}}">Previous</a>{% endif %}</span>
	<span class="pull-right">{% if item.next_submission %}<a href="{{item.next_submission}}">Next</a>{% endif %}</span>
  {% endif %}
				</div>
				
				<div class="row-fluid">
					<div class="spc-snippet-info span12">
					
						<dl class="dl-horizontal">
							<dt>Submitted by</dt>
							<dd><span>{% if item.entry.created_by.profile.is_validated %}<a href="{% url spc-user-profile item.entry.created_by.profile.slug %}">{{item.entry.created_by.username}}</a> on {% if item.entry.date_created %}{{item.entry.date_created|naturalday:"d F Y"}}{% else %}today{% endif %}{% else %}Your name will be here once you validate yourself by email{% endif %}</span></dd>
						</dl>
						
						{% if item.entry.num_revisions > 1 %}
						<dl class="dl-horizontal">
							<dt>Update history</dt>
							<dd>
								<span>{{ item.human_revision_string }}:
								{% if item.previous_revision %}
									<a href="{{item.previous_revision.get_absolute_url}}">previous</a>
								{% endif %}
								{% if item.next_revision %}<a href="{{ item.next_revision.get_absolute_url }}">next</a>{% endif %}
								</span>
							</dd>
						</dl>
						{% endif %}
						
						{% if item.entry.num_revisions > 1 %}
						<dl class="dl-horizontal">
							<dt>Updated by</dt>
							<dd>
								<span>{% if item.created_by.profile.is_validated %}<a href="{% url spc-user-profile item.created_by.profile.slug %}">{{item.created_by.username}}</a>{% else %}Unvalidated user{% endif %} on {% if item.date_created %}{{item.date_created|naturalday:"d F Y"}}{% else %}today{% endif %}</span>
							</dd>
						</dl>
						{% endif %}
						
						{% if item.entry.sub_type == "link" %}
						<dl class="dl-horizontal">
							<dt>Link</dt>
							<dd><span><a href="{{item.item_url}}">{{item.item_url}}</a></span></dd>
						</dl>
						{% endif %}
						
						{% if item.entry.sub_type == "snippet" %}
							<dl class="dl-horizontal">
								<dt>Download</dt>
								<dd>
								{% if preview %}
									<i>Links to the ZIP file contents will appear here</i>
								{% else %}
									<a href="{% url spc-download-submission item_id=item.entry.id rev_id=item.rev_id_human %}">Download file</a>
								{% endif %}
								</dd>
							</dl>
						{% endif %}
						
						{% if item.entry.sub_type == "package" %}
							<dl class="dl-horizontal">
								<dt>Download</dt>
								<dd>
								{% if preview %}
									<i>Links to the ZIP file contents will appear here</i>
								{% else %}
									<a href="{% url spc-download-submission item_id=item.entry.id rev_id=item.rev_id_human %}">Download all files</a>
								{% endif %}
								</dd>
							</dl>
						{% endif %}
					</div><!--/snippetInfo span12-->
					
				</div><!--/row-fluid-->
			</div><!--/snippet header-->
			
		</div>
		<div class="row-fluid">
				<div class="spc-snippet-body span12">
					
					{% if item.entry.sub_type == "snippet" %}
					<div class="accordion-group">
						<!--snippet title-->
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" href="#collapse1">
							Code <i class="icon-arrow-up"></i> 
							</a>
						</div><!--/snippet title-->
						<div id="collapse1" class="accordion-body collapse in">
							<div class="accordion-inner">
								{{item.item_highlighted_code|safe}}
							</div>
						</div>
					</div><!--accordion group-->
					{% endif %}
					
					{% if item.entry.sub_type == "package" %}
					<div class="accordion-group">
						<!--snippet title-->
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" href="#collapse2">
							Files <i class="icon-arrow-up"></i> 
							</a>
						</div><!--/snippet title-->
						<div id="collapse2" class="accordion-body collapse in">
							<div class="accordion-inner">
								{% if preview %}
									<i>Links to the ZIP file contents will appear here</i>
								{% else %}
									<ul class="unstyled">
										{% for file in package_files %}
											<li>{{file}}<li>
										{% endfor %}
									</ul>
								{% endif %}
							</div>
						</div>
					</div><!--accordion group-->
					{% endif %}
					
					<div class="accordion-group">
						<!--snippet title-->
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" href="#collapse3">
							More information <i class="icon-arrow-up"></i> 
							</a>
						</div><!--/snippet title-->
						<div id="collapse3" class="accordion-body collapse in">
							<div class="accordion-inner">
								{{item.description_html|safe}}
							</div>
						</div>
					</div><!--accordion group-->
					
					{% if extra_html %}
					<div class="accordion-group">
						<!--snippet title-->
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" href="#collaps4">
							Extra message <i class="icon-arrow-up"></i> 
							</a>
						</div><!--/snippet title-->
						<div id="collapse4" class="accordion-body collapse in">
							<div class="accordion-inner">
								{{extra_html|safe}}
							</div>
						</div>
					</div><!--accordion group-->
					{% endif %}
					
				</div> <!--root snippet body -->
		</div>
	</div><!-- /root snippet-->
</div><!--/row-fluid-->
{% endblock %}