{% extends "base.html" %}
{% load humanize %}

{% block title %}{{item.title}}{% endblock %}

{% block content %}


  <div id="spc-item-header">
  {% if not preview %}
	<div id="spc-item-header-left">{% if item.previous_submission %}<a href="{{item.previous_submission}}">Previous<a>{% endif %}</div>
	<div id="spc-item-header-right">{% if item.next_submission %}<a href="{{item.next_submission}}">Next<a>{% endif %}</div>
  {% endif %}
  </div>


  <h2>{{item.title}}</h2>

  <div id="spc-profile-user-options">
    <ul>

      {# Only items with an ID are editable (prevents link showing when previewing a new item #}
      {% if not preview %}

        {# Links can only be edited by their original author #}
        {% if item.entry.sub_type == 'link' %}

          {# If the signed-in user is the same as the creator of the current revision: show edit link#}
          {% if user.id == item.created_by.id %}
            <li><a href="{% url spc-edit-submission item_id=item.entry.id rev_id=item.rev_id_human %}">Edit your link</a></li>
          {% endif %}
        {% else %}
          <li><a href="{% url spc-edit-submission item_id=item.entry.id rev_id=item.rev_id_human %}">Improve this {{item.entry.sub_type}}</a></li>
        {% endif %}


      {% endif %}
    </ul>
  </div>
  <div id="spc-itemdisp-container">

    <div class="spc-item-row">
    </div>

    <div class="spc-item-row">
      <span class="spc-item-label">Submitted by:</span>
      <span class="spc-item-entry">{% if item.entry.created_by.profile.is_validated %}<a href="{% url spc-user-profile item.entry.created_by.profile.slug %}">{{item.entry.created_by.username}}</a>, {% if item.entry.date_created %}{{item.entry.date_created|naturalday:"d F Y"}}{% else %}today{% endif %}{% else %}Your name will be here once you validate yourself by email{% endif %}</span>
    </div>

    {% if item.entry.num_revisions > 1 %}
     <div class="spc-item-row">
      <span class="spc-item-label">Update history:</span>
      <span class="spc-item-entry">{{ item.human_revision_string }}:
      {% if item.previous_revision %}<a href="{{item.previous_revision.get_absolute_url}}">previous</a><span style="padding-right: 2em;">&nbsp;</span>{% endif %}

      {% if item.next_revision %}<a href="{{ item.next_revision.get_absolute_url }}">next</a>{% endif %}
      </span>
    </div>
    {% endif %}

    {% if item.entry.num_revisions > 1 %}
     <div class="spc-item-row">
      <span class="spc-item-label">Updated by:</span>
      <span class="spc-item-entry">{% if item.created_by.profile.is_validated %}<a href="{% url spc-user-profile item.created_by.profile.slug %}">{{item.created_by.username}}</a>{% else %}Unvalidated user{% endif %}, {% if item.date_created %}{{item.date_created|naturalday:"d F Y"}}{% else %}today{% endif %}</span>
    </div>
    {% endif %}

    {% if item.entry.sub_type == "link" %}
    <div class="spc-item-row">
      <span class="spc-item-label">Link:</span>
      <span class="spc-item-entry"><a href="{{item.item_url}}">{{item.item_url}}</a></span>
    </div>
    {% endif %}
    {% if item.entry.sub_type == "snippet" %}
    <div class="spc-item-row">
      <span class="spc-item-entry">{{item.item_highlighted_code|safe}}</span>
    </div>
	<div class="spc-item-row">
      <span class="spc-item-label">Software license:</span>
      <span class="spc-item-entry spc-item-description">{{item.sub_license.description}} (<a href="{% url spc-about-licenses%}">More details</a>)</span>
    </div>
    {% endif %}


    <div class="spc-item-row">
      <span class="spc-item-label">More information:</span>
      <span class="spc-item-entry spc-item-description">{{item.description_html|safe}}</span>
    </div>
    <div class="spc-item-row">
      <span class="spc-item-label">Tags:</span>
      <span class="spc-item-entry">{% for tag in tag_list %}<span><a href="{% url spc-show-items what_view="tag" extra_info=tag %}" class="spc-tag">{{tag.name}}</a></span>{% endfor %}</span>
    </div>
    <div style="clear:both;">&nbsp;</div>
  </div>

  <div id="spc-extra-message">{{extra_html|safe}}</div>

  <div class="spc-minor-info">
    {% if pageviews %}<p> Page views: {{pageviews}} (past 60 days){% endif %}
	{% if permalink %}
	  <p>{% if item.id %}Identifier #: <b>{{ item.entry.id }}</b>{% endif %}
	  <p>Permalink to this revision: <a href="{{permalink}}">{{permalink}}</a>
	  <p>Permalink to latest revision: <a href="{{latest_link}}">{{latest_link}}</a>
	{% endif %}
  </div>



  <div style="clear: both;"><p>&nbsp;</div>

{% endblock %}
