{% extends "base.html" %}

{% block title %}
{{item.title}}
{% endblock %}

{% block content %}

  <h2>{{item.title}}</h2>

  <div id="spc-item-display">
    <div class="spc-item-row">
      <span class="spc-item-label">Link:</span>
      <span class="spc-item-entry"><a href="{{item.item_url}}">{{item.item_url}}</a></span>
    </div>
    <div class="spc-item-row">
      <span class="spc-item-label">Submitted by:</span>
      <span class="spc-item-entry">{% if item.entry.created_by.is_validated %}<a href="{% url spc-user-profile item.entry.created_by.username_slug %}">{{item.entry.created_by.username}}</a>{% else %}Unvalidated user{% endif %} on {% if item.date_created %}{{item.date_created|date}}{% else %}{{DATETIME_NOW|date}}{% endif %}</span>
    </div>
    {% if item.entry.num_revisions > 1 %}
     <div class="spc-item-row">
      <span class="spc-item-label">Updated by:</span>
      <span class="spc-item-entry">{% if item.created_by.is_validated %}<a href="{% url spc-user-profile item.created_by.username_slug %}">{{item.created_by.username}}</a>{% else %}Unvalidated user{% endif %} on {% if item.date_created %}{{item.date_created|date}}{% else %}{{DATETIME_NOW|date}}{% endif %}</span>
    </div>
    {% endif %}
    <div class="spc-item-row">
      <span class="spc-item-label">More information:</span>
      <span class="spc-item-entry" id="spc-item-description">{{item.description_html|safe}}</span>
    </div>
    <div class="spc-item-row">
      <span class="spc-item-label">Tags:</span>
      <span class="spc-item-entry">{% for tag in tag_list %}<span><a href="/tag/{{tag}}" class="spc-tag">{{tag.name}}</a></span>{% endfor %}</span>
    </div>
    <div style="clear:both;">&nbsp;</div>
  </div>

  <div id="spc-extra-message">{{extra_html|safe}}</div>

{% endblock %}
