{% extends "base.html" %}

{% block title %}Upload your code{% endblock %}

{% block content %}

{{TAGGING_JAVSCRIPT|safe}}

<h2>A new link to a scientific resource</h2>

<div class="spc-form">
<form action="{% url spc-new-link-preview %}"
  method="POST" class="spc-ul-form" enctype="multipart/form-data">
  {% csrf_token %}

  {% if link.errors %}
  <div id="spc-form-error-message"><p><b>Some errors were found</b>. Please see fields with
  <span class="spc-field-error">a coloured background</span>.</p></div>
  {% endif %}

  {% for field in item%}
    {% if field.is_hidden %}
      {{field.as_widget|safe}}
	{% else %}
	<div class="colmask threecol">
		<div class="colmid">
			<div class="colleft">
				<div class="col1 form-field">
					{{field.as_widget|safe}}
				</div>
				<div class="col2 {% if field.errors %} spc-field-error{% endif %}">
					<label for="{{field.id_for_label}}">{{field.label|safe}}</label>
					<span>{{ field.errors }}</span>
				</div>
				<div class="col3">
					<span class="spc-helptext">{{field.help_text|safe}}</span>
				</div>
			</div>
		</div>
	</div>
	{%endif %}
  {% endfor %}

  	<div id="spc-preview-edit-submit">
		<div class="colmask threecol">
			<div class="colmid">
				<div class="colleft">
					<div class="col1 form-field">
						<input type="submit" name="spc-preview"
						value="Preview your submission" id="spc-item-preview"/>
					</div>
					<div class="col2">&nbsp;</div>
					<div class="col3">
						&nbsp;
					</div>
				</div>
			</div>
		</div>
	</div>

</form>
</div>
{% endblock %}
