{% extends "base.html" %}

{% block title %}Upload your code{% endblock %}

{% block content %}

<style>
	.ui-autocomplete-loading { background: white url('/media/ui-anim_basic_16x16.gif') right center no-repeat; }

	.ui-autocomplete {
		max-height: 150px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
	}
	/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
	* html .ui-autocomplete {
		height: 100px;
	}
</style>
	<script>
	<!--JQuery example: http://jqueryui.com/demos/autocomplete/#multiple-remote -->
	$(function() {
		function split( val ) {
			return val.split( /,\s*/ );
		}
		function extractLast( term ) {
			return split( term ).pop();
		}

		$("#id_sub_tags")
			// don't navigate away from the field on tab when selecting an item
			.bind( "keydown", function( event ) {
				if ( event.keyCode === $.ui.keyCode.TAB &&
						$( this ).data( "autocomplete" ).menu.active ) {
					event.preventDefault();
				}
			})
			.autocomplete({
				source: function( request, response ) {
					$.getJSON( "/item/tag_autocomplete", {
						term: extractLast( request.term )
					}, response );
				},
				search: function() {
					// custom minLength
					var term = extractLast( this.value );
					if ( term.length < 1 ) {
						return false;
					}
				},
				focus: function() {
					// prevent value inserted on focus
					return false;
				},
				select: function( event, ui ) {
					var terms = split( this.value );
					// remove the current input
					terms.pop();
					// add the selected item
					terms.push( ui.item.value );
					// add placeholder to get the comma-and-space at the end
					terms.push( "" );
					this.value = terms.join( ", " );
					return false;
				}
			});
	});
	</script>

<h1>Create a new submission</h1>

<div class="spc-form">
<form action="{% url spc-new-snippet-submission %}"
  method="POST" class="spc-ul-form" enctype="multipart/form-data">
  {% csrf_token %}

  {{snippet.as_ul}}

  <div id="spc-tagging-step">
  </div>

  <div id="spc-preview-submit" style="overflow: hidden">
    <input type="submit" value="Preview entry" id="spc-item-submit" />
  </div>
</form>
</div>
{% endblock %}
