{% extends "base.html" %}

{% block title %}New SciPy Central submission{% endblock %}

{% block content %}

<h1>Create a new submission</h1>

<div class="scipycentral-form">
<form action="{% url spc-new-snippet-submission %}"
  method="POST" class="scipycentral-ul-form" enctype="multipart/form-data">
  {% csrf_token %}


  {{snippet.as_ul}}

  <div id="scipycentral-tagging-step">
  </div>

  <div id="scipycentral-preview-submit" style="overflow: hidden">
    <input type="submit" value="Preview entry" id="scipycentral-item-submit" />
  </div>
</form>
</div>
{% endblock %}
