{% extends "page-base.html" %}

{% block title %}{{pagetitle}}{% endblock %}

{% block pageContent %}
{% load widget_tweaks %}

<script>
//JQuery example: http://jqueryui.com/demos/autocomplete/#multiple-remote
$(function() {
	function split( val ) {
		return val.split( /,\s*/ );
	}
	function extractLast( term ) {
		return split( term ).pop();
	}

	$(".spc-autocomplete")
		// don't navigate away from the field on tab when selecting an item
		.bind( "keydown", function( event ) {
			if ( event.keyCode === $.ui.keyCode.TAB &&
					$( this ).data( "autocomplete" ).menu.active ) {
				event.preventDefault();
			}
		})
		.autocomplete({
			source: function( request, response ) {
				$.getJSON( "{% url spc-tagging-ajax %}", {
					term: extractLast( request.term )
				}, response );
			},
			search: function() {
				// custom minLength
				var term = extractLast( this.value );
				if ( term.length < 1 ) {
					return false;
				}
			},
			focus: function() {
				// prevent value inserted on focus
				return false;
			},
			select: function( event, ui ) {
				var terms = split( this.value );
				// remove the current input
				terms.pop();
				// add the selected item
				terms.push( ui.item.value );
				// add placeholder to get the comma-and-space at the end
				terms.push( "" );
				this.value = terms.join( ", " );
				return false;
			}
		});
});
</script>

<h3 class="underline">
{% url spc-new-submission item_type='snippet' as ref_url1 %}
{% url spc-new-submission item_type='link' as ref_url2 %}
{% url spc-new-submission item_type='package' as ref_url3 %}
{% if request.path == ref_url1 %}Snippet Submission
{% elif request.path == ref_url2 %}Link Submission
{% elif request.path == ref_url3 %}Package Submission
{% else %}Edit Profile{% endif %}</h3>

<form action="" method="POST" class="spc-ul-form" enctype="multipart/form-data">
{% csrf_token %}

{% if item.errors %}
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<p><b>Some errors were found</b>. Please see fields with a coloured background</p>
	</div>
{% endif %}

{% for field in item %}
	{% if field.is_hidden %}
		{{field.as_widget|safe}}
	{% else %}
		<div class="control-group no-lead {% if field.errors %}control-group error{% endif %}">
			<label class="control-label" for="{{field.id_for_label}}">{{field.label|upper|safe}} {% if field.help_text %}<i class="icon-question-sign" onclick="$('#alert-{{forloop.counter}}').toggle();"></i>{% endif %}</label>
			<div class="controls">
				{% if field.help_text %}
					<div class="alert alert-info help-text" id="alert-{{forloop.counter}}" style="display: none;">
						<div class="close" onclick="$('#alert-{{forloop.counter}}').hide();">&times;</div>
						<p><small>{{field.help_text|safe}}</small></p>
					</div>
				{% endif %}
				{% if field.errors %}
					<div class="alert alert-error"><small>{{field.errors|safe}}</small></div>
				{% endif %}

				{% if field.name == 'snippet_code' %}
					{{field|add_class:"span12 hide"|attr:"data-editor:python"|attr:"data-readonly:false"|safe}}
				{% elif field.name == 'description' %}
					<ul class="nav nav-tabs" style="margin-bottom: 5px;">
						<li class="active"><a href="#form-description-wrapper" data-toggle="tab">Description</a></li>
						<li><a href="#form-description-preview-wrapper" data-toggle="tab" data-preview="submission" data-pcontent="id_description" data-presponse="id_description_preview">Preview</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="form-description-wrapper">
							{{field|add_class:"span12 hide"|attr:"data-editor:plain_text"|attr:"data-readonly:false"|safe}}
						</div>
						<div class="tab-pane" id="form-description-preview-wrapper">
							<div class="preview-image hide"><img src="{{STATIC_URL}}ui-anim_basic_16x16.gif"></div>
							<div class="hide" id="id_description_preview"></div>

						    <div class="alert alert-error hide" data-resp="error">Unable to preview</div>
						    <div class="alert alert-error hide" data-resp="server-error"><b>Server Error</b>, Please try again later</div>
						</div>
					</div>
				{% else %}
					{{field|add_class:"span12"|safe}}
				{% endif %}
			</div>
		</div>
	{% endif %}
	{% if field.name == 'description' %}
		<div class="control-group no-lead">
			<label class="control-label"><b>ADD AN IMAGE OR SCREENSHOT</b> TO YOUR SUBMISSION (OPTIONAL) <i class="icon-question-sign" onclick="$('#alert-image_upload').toggle();"></i></label>
			<div class="controls">
				<div class="alert alert-info help-text" id="alert-image_upload" style="display: none;">
					<div class="close" onclick="$('#alert-image_upload').hide();">&times;</div>
					<p><small>Please upload JPEG or PNG images. Please refer to <a href="{% url spc-markup-help %}" target="_blank">markup</a> for adding images in the description</small></p>
				</div>
				<a href="#image_upload-modal" role="button" class="btn btn-primary btn-small" data-toggle="modal">Upload Image</a>
			</div>
		</div>
	{% endif %}
{% endfor %}

<div class="control-group">
	<div class="controls">
		<button class="btn btn-primary pull-right" type="submit"  name="spc-preview">{{buttontext}}</button>
		{{buttontext_extra}}
	</div>
</div>

</form>

<script type="text/javascript" src="{{STATIC_URL}}js/jquery.form.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	 var options = {
		 target:    '#spc-item-upload-output-ajax-adds-it',
		 success: function() { $('#spc-item-upload-output-ajax-adds-it').fadeIn('slow'); },
		 url:       '{% url spc-screenshot-add %}',
		 type:      'post',
		 clearForm:  true,
		 resetForm:  true,
	};
	// bind form using 'ajaxForm'
	$('#spc-item-upload-add').ajaxForm(options);
});
</script>


<form action="" method="post" enctype="multipart/form-data" id="spc-item-upload-add">
{% csrf_token %}
	<div id="image_upload-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="image_upload-Label" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			<h3 id="myModalLabel">Upload image(s) here to add in description</h3>
		</div>
		<div class="modal-body">
			<input style="visibility: hidden;" id="image_upload-file" type="file" placeholder="Choose" name="spc_image_upload">
			<div class="btn btn-primary pull-left" onclick="document.getElementById('image_upload-file').click(); return false;">Choose File</div>
			<p class="text-info no-lead" id="spc-item-upload-output-ajax-adds-it"></p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary" type="submit"  name="spc-preview">Upload</button>
		</div>
	</div>
</form>

{% endblock %}
