{% extends "base.html" %}

{% block title %}Thank you for your submission{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span12">
        {% if authenticated %}
            <p class="lead">Thank you for your submission to Scipy Central. You can <a href="{{ item.get_absolute_url}}">see your contribution here</a></p>

            <p>A confirmation email has been sent to you</p>
        {% else %}
            <p class="lead">Thank you for your submission to SciPy Central</p>

            <p>You have been sent an email to <i>confirm your submission</i> and to create an account (if you do not have one already)</p>

            <p>Unconfirmed submissions cannot be accepted, and <b>will be deleted</b> after {{ days_deleted_after }} days. Please sign in to avoid having to confirm your valuable submission in future</p>
        {% endif %}
    </div>
</div>
{% endblock %}
