{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}

<div class="spc-centering-div-container">
  <form action="" method="POST">
	{% csrf_token %}

	{% if form.non_field_errors %}
	  <div id="spc-form-error-message"><p><span class="spc-field-error">{% for error in form.non_field_errors%}{{error}}{% endfor %}</span></p></div>
	{% else %}
	  {% if form.errors %}
		<div id="spc-form-error-message"><p><b>Some errors were found</b>. Please see fields with
		<span class="spc-field-error">a coloured background</span>.</p></div>
	  {% endif %}
	{% endif %}

	{% for field in form %}
	  <label for="{{field.id_for_label}}"><span class="spc-form-label">{{field.label|safe}}</span>
	  <span class="{% if field.errors %}spc-field-error{% endif %}">{% for error in field.errors %}{{ error|escape }}{% endfor %}</span>
	  {{field.as_widget|safe}}</label>

	{% endfor %}
	{% if next %}
	  <input type="hidden" name="next" value="{{ next }}" />
	{% endif %}
	<input type="submit" name="submit" value="Sign in" />

  </form>
  <a href="{% url auth_password_reset %}">Forgot your username or password?</a>
  <div style="clear:both;">&nbsp;</div>
  <div style="clear:both;">&nbsp;</div>

  <div id="spc-important-icon" style="float: left;  line-height:64px;">
    <img src="{{MEDIA_URL}}create-new-account-icon.png" width="64" style="vertical-align:middle" alt="Create a new account">
	<a href="{% url registration_register %}">Create a new account</a>
  </div>

</div>

{% endblock %}