<!-- url: auth_password_reset_confirm -->

{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}

{% if validlink %}

<h3>Create a new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly:</p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">New password:</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">Confirm password:</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="Change my password" /></p>
</form>

{% else %}

<h3>Password reset unsuccessful</h3>

<p>The password reset link was invalid, possibly because it has already been used.  Please request <a href="{% url auth_password_reset %}">a new password reset</a>.</p>

{% endif %}

{% endblock %}

