<!-- url: auth_password_change -->
{% extends "base.html" %}

{% block title %}Change your password{% endblock %}

{% block content %}


<h3>Password change</h3>

<div style="width: 500px;">
<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p></div>

<div class="spc-centering-div-container">
  <form action="" method="POST">
	{% csrf_token %}

	{% if form.non_field_errors %}
	  <div id="spc-form-error-message"><p><span class="spc-field-error">{% for error in form.non_field_errors%}{{error}}{% endfor %}</span></p></div>
	{% else %}
	  {% if form.errors %}
		<div id="spc-form-error-message"><p><b>Some errors were found</b>. Please see fields with
		<span class="spc-field-error">a coloured background</span>.</p></div>
	  {% endif %}
	{% endif %}

	{% for field in form %}
	  <label for="{{field.id_for_label}}"><span class="spc-form-label">{{field.label|safe}}</span>
	  <span class="{% if field.errors %}spc-field-error{% endif %}">{% for error in field.errors %}{{ error|escape }}{% endfor %}</span>
	  {{field.as_widget|safe}}</label>

	{% endfor %}
	{% if next %}
	  <input type="hidden" name="next" value="{{ next }}" />
	{% endif %}
	<input class="spc-form-button" type="submit" name="submit" value="Change my password" />
  </form>
  <div style="clear:both;">&nbsp;</div>
  <div style="clear:both;">&nbsp;</div>

  <div style="float: left;">
	<img src="{{MEDIA_URL}}send-email-icon.png" width="64" style="vertical-align:middle" alt="Reset password by email">
	<a href="{% url auth_password_reset%}">Rather reset your password by email?
  </div>

</div>

{% endblock %}