<!-- url: auth_password_reset_confirm -->
{% extends "base.html" %}

{% block title %}{% if validlink %}Reset your password{% else %}Password reset unsuccessful{% endif %}{% endblock %}

{% block content %}

{% load widget_tweaks %}

{% if validlink %}

<div class="row-fluid">
	<div class="span8">
	{% include "registration/signin_header.html" %}
	</div>
	<div class="signin span4">
		<div class="spc-page-title"><h3>Create a new password</h3></div>
		<form class="form" action="" method="post">
		{% csrf_token %}
			{% if form.non_field_errors %}
			<div class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{% for error in form.non_field_errors %}
				 {{error}}
				{% endfor %}
			</div>
			
			{% else %}
				{% if form.errors %}
				<div class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<p><b>Some errors were found</b>. Please see fields with a coloured background</p>
				</div>
				{% endif %}
			{% endif %}
			
			{% for field in form %}
				<div class="control-group {% if field.errors %}control-group error{% endif %}">
					<label class="control-label" for="{{field.id_for_label}}">{{field.label|safe}}</label>
					<div class="controls">
						{{field|add_class:"span12"|safe}}
						{% if field.errors %}
							<div class="alert alert-error">
								{% for error in field.errors %}<i>{{ error|escape }}</i>{% endfor %}
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
			
			{% if next %}
				<div class="control-group">
					<div class="controls">
						<input type="hidden" name="next" value="{{next}}">
					</div>
				</div>
			{% endif %}
			
			<div class="control-group">
				<div class="controls">
					<button class="btn btn-primary" type="submit" name="submit">Change my password</button>
				</div>
			</div>
		</form><!--/form-->
	</div><!--/signin span12-->
</div><!--/row-fluid-->

{% else %}

<div class="hero-unit">
<h3>Password reset unsuccessful</h3>

<p>The password reset link was invalid, possibly because it has already been used.  Please request <a href="{% url auth_password_reset %}">a new password reset</a>.</p>
</div>

{% endif %}

{% endblock %}