<!--url: registration_register -->
{% extends "base.html" %}

{% block title %}Create a new account{% endblock %}

{% block content %}

<h3>Create a new account</h3>


<div class="spc-centering-div-container">
  <form action="" method="POST">{% csrf_token %}
	{% if form.non_field_errors %}
	  <div id="spc-form-error-message"><p><span class="spc-field-error">{% for error in form.non_field_errors%}{{error}}{% endfor %}</span></p></div>
	{% else %}
	  {% if form.errors %}
		<div id="spc-form-error-message"><p><b>Some errors were found</b>. Please see fields with
		<span class="spc-field-error">a coloured background</span>.</p></div>
	  {% endif %}
	{% endif %}

	{% for field in form %}
	  <label for="{{field.id_for_label}}"><span class="spc-form-label">{{field.label|safe}}</span>

	  {{field.as_widget|safe}}</label>
	  <span class="{% if field.errors %}spc-field-error{% endif %}">{% for error in field.errors %}{{ error|escape }}{% endfor %}</span>

	{% endfor %}
	{% if next %}
	  <input type="hidden" name="next" value="{{ next }}" />
	{% endif %}
	<input class="spc-form-button" type="submit" name="submit" value="Send me an activation email" />
  </form>
  <div style="clear:both;">&nbsp;</div>
</div>
<div style="clear:both;">&nbsp;</div>
<div style="width: 500px; color: #666;">
  <p>We know that creating yet another user acount is annoying. We hope to offer
  <a href="http://openid.net/get-an-openid/">OpenID authentication</a> on
  SciPy Central. What are the <a href="http://openid.net/get-an-openid/individuals/">benefits of OpenID</a>?
  <p>Do you have experience with OpenID and Django? Please <a href="{% url spc-about-page %}">contact us</a> if you can volunteer some time.</p>
</div>

{% endblock %}
