<!--url: registration_complete -->
{% extends "base.html" %}

{% block title %}Sign-up completed!{% endblock %}

{% block content %}

<div id="spc-important-icon" style="float: left; height:240px;">
    <img src="{{MEDIA_URL}}information-icon.png" width="240" alt="Sign-up completed">
</div>
<div>
<p>Thank you for signing up on <a href="{% url spc-main-page%}">SciPy Central</a>.

<p>An email has been sent to the address you provided. Please click on the activation link to complete your account application.

<p>&nbsp;
<p>Thank you - the SciPy Central team.
</div>





{% endblock %}



