<!--url: registration_register -->
{% extends "base.html" %}

{% block title %}Create a new account{% endblock %}

{% block content %}
{% load widget_tweaks %}
<div class="row-fluid">
	<div class="span8">
		<div class="row-fluid">
			<div class="span12">{% include "registration/signin_header.html" %}</div>
		</div><!--/row-fluid-->

		<div class="row-fluid">
			<div class="adminNote span12 alert alert-info" style="margin-top:20px;">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<p>We know that creating yet another user acount is annoying. We hope to offer
				<a href="http://openid.net/get-an-openid/">OpenID authentication</a> on
				SciPy Central. What are the <a href="http://openid.net/get-an-openid/individuals/">benefits of OpenID</a>?
				<p>Do you have experience with OpenID and Django? Please <a href="{% url spc-about-page %}">contact us</a> if you can volunteer some time.</p>
			</div>
		</div>
	</div><!--/span8-->
	
	<div class="signin span4">
		<div class="spc-page-title"><h3>Create a new account</h3></div>
		<form class="form" action="" method="post">
		{% csrf_token %}
			{% if form.non_field_errors %}
			<div class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{% for error in form.non_field_errors %}
				 {{error}}
				{% endfor %}
			</div>
			
			{% else %}
				{% if form.errors %}
				<div class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<p><b>Some errors were found</b>. Please see fields with a coloured background</p>
				</div>
				{% endif %}
			{% endif %}
			
			{% for field in form %}
				<div class="control-group {% if field.errors %}control-group error{% endif %}">
					<label class="control-label" for="{{field.id_for_label}}">{{field.label|safe}}</label>
					<div class="controls">
						{{field|add_class:"span12"|safe}}
						{% if field.errors %}
							<div class="alert alert-error">
								{% for error in field.errors %}<i>{{ error|escape }}</i>{% endfor %}
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
			
			{% if next %}
				<div class="control-group">
					<div class="controls">
						<input type="hidden" name="next" value="{{next}}">
					</div>
				</div>
			{% endif %}
			
			<div class="control-group">
				<div class="controls">
					<button class="btn btn-primary" type="submit" name="submit">Send me an activation email</button>
				</div>
			</div>
		</form><!--/form-->
	</div><!--/signin span4-->
	
</div><!--/row-fluid-->
{% endblock %}