<!--url: registration_complete -->
{% extends "base.html" %}

{% block title %}Sign-up completed!{% endblock %}

{% block content %}

<div style="float: left; height:256px;">
    <img src="{{MEDIA_URL}}information-icon.png" width="256" alt="Sign-up completed">
</div>
<div>
<p>Thank you for signing up on SciPy Central</a>.

<p>An email has been sent to the address you provided. Please <b>click on the activation link</b> to complete your account application.

<p>&nbsp;
<p>Thank you - the SciPy Central team.
</div>

{% endblock %}



