<div class="MainHeader">
	<!--title-->
	<div class="row-fluid">
		<div class="span12">
			<h1 style="font-weight: normal;">Welcome to SciPy Central</h1>
		</div>
	</div>
	<!--description-->
	<div class="row-fluid">
		<div class="span12">
			<p class="lead">SciPy Central is a collection of code snippets, modules and links for solving scientific problems with SciPy and related Python tools.</p>
		</div>
	</div>
	<!--logos-->
	<div class="row-fluid">
		<div class="span12">
			<a href="http://scipy.org" target="_blank"><img src="http://scipy.org/images/scipy_logo.gif" style="width: 100px; height: 30px;"></a>
		</div>
	</div>

</div><!--/SignInHeader-->