{% extends 'base.html' %}

{% block title %}Search results{% endblock %}

{% block content %}

    {% include "search/includes/main-search-box.html" %}

    {% if query %}
        <h3>Results</h3>

        <div id="spc-search-results"><ul>
        {% for result in page.object_list %}
            <li>
            {% if result.content_type == "submission.revision" %}
            {% include "search/includes/revision.html" %}
            {% endif %}
            </li>
        {% empty %}
            <p>No results found.</p>
        {% endfor %}
        <ul></div>
        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}

{% endblock %}
