body {
  background-color: #f9faf5;
}
.main {
  background-color: white;
  padding: 18px;
  -moz-box-shadow: 0 0 3px #888;
  -webkit-box-shadow: 0 0 3px #888;
  box-shadow: 0 0 3px #888;
}
.underline {
  border-bottom: 1.5px solid #eeeeee;
}
.no-lead {
  padding-top: 10px;
}
.header {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
}
.underline {
  border-bottom: 1.5px solid #eeeeee;
}
.no-lead {
  padding-top: 10px;
}
.tags .btn {
  border: none;
  font-size: 9.5px;
  font-weight: bold;
}
.accordion-group {
  border: none;
}
.accordion-heading {
  border-bottom: 1px solid #e5e5e5;
}
.help-text {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #333333;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.no-margin-table td,
.no-margin-table th {
  border-top: none;
}
.spc-searchbar input,
.spc-searchbar button {
  height: 40px;
}
.spc-rightsidebar {
  color: #555555;
  padding: 2px 10px;
  font-size: 11.9px;
}
.spc-rightsidebar .nav-title {
  font-weight: bold;
  text-transform: uppercase;
}
.spc-rightsidebar li {
  margin: 5px;
}
.footer {
  padding: 5px;
  font-size: small;
}
