@import "spc-utils.less";
@import "bootstrap/variables.less";

//tags -- need to design
.tags .btn {
    border: none;
    font-size: 9.5px;
    font-weight: bold;
}

// used in item.html
.accordion-group {
    border: none;
}
.accordion-heading {
    border-bottom: 1px solid #e5e5e5;
}

// used in submission page
// used along with .alert to override its default features
.help-text {
    background-color: @white;
    border-color: @white;
    color: rgb(51,51,51);
    font-family: @monoFontFamily;
}

// remove margins in bootstrap tables
.no-margin-table {
    td, th {
        border-top: none;
    }
}

// increase searchbar width
.spc-searchbar {
    input, button {
        height: 40px;
    }
}

// comments

#spc-post-comment {
    &.tab-content {
        min-height: 305px;
    }
}

#preview {
    height: 209px;
    margin-bottom: 19px;
}

.show-preview {
    border-radius: 4px;
    border-style: dashed;
    border-width: 1px;
    border-color: #999999;
    height: 198px;
}

.preview-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;  
}

#spc-comment-edit-modal {
    .show-preview {
        padding: 5px;
        padding-bottom: 0px;
        height: 193px;
    }

    .tab-content {
        min-height: 228px;
    }
}

// thumbs (reputation) arrows
.arrow (@top, @bottom, @left, @right) {
    width: 0;
    height:0;
    color: @grayLight;
    border-top: @top solid;
    border-bottom: @bottom solid;
    border-left: @left solid transparent;
    border-right: @right solid transparent;
}

.up-arrow {
    .arrow(0px, 15px, 18px, 18px);
    marign: 0 auto;
    margin-bottom: 3px;
    &.active {
        color: rgb(245, 157, 24);
    }
}


.up-arrow-comment {
    .arrow(0px, 8px, 6px, 6px);
    &.active {
        color: rgb(245, 157, 24);
    }
}

.down-arrow {
    .arrow(15px, 0px, 18px, 18px);
    marign: 0 auto;
    margin-top: 3px;
    &.active {
        color: rgb(245, 157, 24);
    }
}

#spc-comment-list {
    .vote-count {
        font-size: 11px;
    }
}

.reputation {
    font-weight: bold;
    font-size: 18px;
    color: @gray;
}
